/*----------  Fonts  ----------*/
@font-face {
	font-family: "Big Noodle Titling";
	src: url('../fonts/big_noodle_titling.ttf');
}
@font-face {
	font-family: "Big Noodle Titling Oblique";
	src: url('../fonts/big_noodle_titling_oblique.ttf');
}
/*----------  All  ----------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body{
	height: 100%;
}
/*----------  Text  ----------*/
h1{
	font-family: "Big Noodle Titling Oblique";
	font-weight: bold;
}
/*----------  Home Page Design  ----------*/
.jumbotron{
	background-image: url("../img/JumbotronBG.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: white;
	height: 100%;
	margin-bottom: 0;
}
.contents{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/*----------  Form Design  ----------*/
#main-text{
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}
form, #main-text{
	transform: skewX(-15deg);
}
@media screen and (max-width: 768px) {
	form{
		transform: skewX(0deg);
	}
}
/*----------  Footer  ----------*/
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
}
/*----------  Stats Design  ----------*/
#icon{
	border-radius: 100%;
}
#level_icon{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -25%);
}